---
layout: default
---
<section class="main-content">
  {% include search.html %}
  <section class="post-list">
    {% for post in paginator.posts %}
      <article class="post">
        <header class="header">
          <h1 class="title"><a href="{{ post.url | prepend: site.baseurl }}" class="link">{{ post.title }}</a></h1>
          <small class="date">Writed by {{post.author}}, on {{ post.date | date: "%B %-d, %Y" }} </small>
        </header>
        <section class="content">
          {% if post.image %}
            <figure class="image">
              <img src="{{post.image}}" {% if post.image-title %}alt="{{post.image-title}}"{% endif %}/>
            </figure>
          {% endif %}
          <p class="description">{{ post.description }}</p>
        </section>
        <footer class="footer">
          <a href="{{ post.url | prepend: site.baseurl }}" class="link">Continue Reading</a>
          <ul class="tagList">
            <li class="glyph-icon flaticon-commerce -tag tag"></li>
            {% for tag in post.tags %}
            <li class="tag"><a href="/search_results.html?a=2&tag={{tag}}">{{tag}}</a>{% unless forloop.last %} ,{% endunless %}</li>
            {% endfor %}
          </ul>
        </footer>
      </article>
    {% endfor %}
    <section class="post-pagination">
      <ul class="pages">
      {% if paginator.previous_page %}
        <li class="previous"><a href="{{paginator.previous_page_path}}"><i class="glyph-icon flaticon-arrows -pagination"></i></a></li>
      {% else %}
        <li class="previous"><i class="glyph-icon flaticon-arrows -pagination"></i></li>
      {% endif %}
      {% capture start %}{{ paginator.page | minus: 3 }}{% endcapture %}
      {% for count in (1..paginator.total_pages) limit: 5 offset: start %}
        {% if count == paginator.page %}
          <li class="page">{{count}}</li>
        {% elsif count == 1 %}
          <li class="page"><a href="/">{{count}}</a></li>
        {% else %}
          <li class="page"><a href="{{count | prepend: "/page"}}">{{count}}</a></li>
        {% endif %}
      {% endfor %}
      {% if paginator.next_page %}
        <li class="next"><a href="{{paginator.next_page_path}}"><i class="glyph-icon flaticon-arrows -pagination"></i></a></li>
      {% else %}
        <li class="next"><i class="glyph-icon flaticon-arrows -pagination"></i></li>
      {% endif %}
      </ul>
    </section>
  </section>
</section>
