---
layout: default
---
<content class="post-list">
{% for post in site.posts %}
  <article class="post">
    <h1 class="title">{{ post.title }}</h1>
    <small class="date">{{ post.date | date: "%b %-d, %Y" }}</small>
    <p class="description">{{ post.description }}</p>
    {% if post.image %}
      <figure>
        <img src="" alt="" />
      </figure>
    {% endif %}
    <a href="{{ post.url | prepend: site.baseurl }}" class="link"></a>
    <ul>
      <li class="tag"></li>
    </ul>
  </article>
{% endfor %}
</content>
