<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta lang="{% if page.lang %}{{page.lang}}{% else %}en{% endif %}" />
  <title>{% if page.title %}{{page.title}} - {{site.title}}{% else %}{{site.title}}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{page.excerpt}}{% else %}{{site.description}}{% endif %}" />
  <meta name="author" content="Lenilson Nascimento" />

  <meta property="og:url"                content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  <meta property="og:site_name"          content="Lnlwd" />
  <meta property="og:type"               content="{% if page.url == '/index.html' %}website{% else %}article{% endif %}" />
  <meta property="og:title"              content="{% if page.title %}{{page.title}} - {{site.title}}{% else %}{{site.title}}{% endif %}" />
  <meta property="og:description"        content="{% if page.excerpt %}{{page.excerpt}}{% else %}{{site.description}}{% endif %}" />
  {% if page.image %}
  <meta property="og:image"              content="{{page.image}}" />
  {% endif %}
  <meta property="og:locale"             content="{% if page.lang %}{{page.lang}}{% else %}en{% endif %}" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@thelenilson" />
  <meta name="twitter:title" content="{% if page.title %}{{page.title}} - {{site.title}}{% else %}{{site.title}}{% endif %}" />
  <meta name="twitter:description" content="{% if page.excerpt %}{{page.excerpt}}{% else %}{{site.description}}{% endif %}" />
  {% if page.image %}
  <meta name="twitter:image" content="{{page.image}}" />
  {% endif %}

  <link href='https://fonts.googleapis.com/css?family=Quicksand:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ "/css/main.css"| prepend: site.baseurl }}" />

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
