<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta lang="{% if page.lang %}{{page.lang}}{% else %}en{% endif %}" />

  {% seo %}

  <link href='https://fonts.googleapis.com/css?family=Quicksand:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{{ "/assets/icons/flaticon.css"| prepend: site.baseurl }}" />
  <link rel="stylesheet" type="text/css" href="{{ "/css/main.css"| prepend: site.baseurl }}" />
  {% feed_meta %}
</head>
