<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta lang="{% if page.lang %}{{page.lang}}{% else %}en{% endif %}" />

  {% seo %}

  <link rel="stylesheet" type="text/css" href="{{ "/assets/css/open-sans.css"| prepend: site.baseurl }}" />
  <link rel="stylesheet" type="text/css" href="{{ "/assets/icons/flaticon.css"| prepend: site.baseurl }}" />
  <link rel="stylesheet" type="text/css" href="{{ "/assets/css/style.min.css"| prepend: site.baseurl }}" />
  {% feed_meta %}
</head>
