<aside class="main-menu">
  <header class="header">
    <figure class="cover">
      <img src="/assets/img/cover.jpg" class="image"/>
    </figure>
    <h1 class="name">Lenilson Nascimento</h1>
    <p class="position">UX Designer and Front end Developer</p>
  </header>
  <nav class="nav">
    {% for nav_item in site.data.nav %}
      {% if page.url == nav_item.link or page.parent == nav_item.link %}
        <a href="{{ nav_item.link }}" class="link active">{{ nav_item.name }}</a>
      {% else %}
        <a href="{{ nav_item.link }}" class="link">{{ nav_item.name }}</a>
      {% endif %}
    {% endfor %}
  </nav>
  <footer class="footer">
    <hr/>
    <section class="social">
      <a href="https://www.facebook.com/lnlwd" title="Facebook" target="_blank">
        <i class="glyph-icon flaticon-social-1 -menu"></i>
      </a>
      <a href="https://twitter.com/thelenilson" title="Twitter" target="_blank">
        <i class="glyph-icon flaticon-social-2 -menu"></i>
      </a>
      <a href="https://www.linkedin.com/in/lenilson-nascimento-89972395" title="Linkedin" target="_blank">
        <i class="glyph-icon flaticon-social-3 -menu"></i>
      </a>
      <a href="https://www.github.com/lnlwd" title="Github" target="_blank">
        <i class="glyph-icon flaticon-github -menu"></i>
      </a>
      <a href="https://www.behance.net/thelenilson" title="Behance" target="_blank">
        <i class="glyph-icon flaticon-symbols -menu"></i>
      </a>
      <a href="https://pinterest.com/thelenilson/" title="Pinterest" target="_blank">
        <i class="glyph-icon flaticon-social -menu"></i>
      </a>
      <a href="mailto:me@lnlwd.com" title="Mail me">
        <i class="glyph-icon flaticon-web -menu"></i>
      </a>
      <a href="{{ "/feed.xml" | prepend: site.baseurl }}" title="Subscribe via RSS" target="_blank">
        <i class="glyph-icon flaticon-social-4 -menu"></i>
      </a>
    </section>
  </footer>
</aside>
