@alias
  bg background-color
  fs font-size
  fw font-weight
  ta text-align
  va vertical-align
  cl color
  lh line-height
  td text-decoration
  po position
  ds display
  wi width
  he height
  ma margin
  pa padding
  bo border
  bor border-radius
  zi z-index
  vi visibility
  op opacity
