p > code
  bor 3px
  cl #FFFFFF
  bg #272822
  pa 0 5px

pre
  bor 3px
  pa 1%
  lh 22px

.lineno
  ta center
  color #ffffff
  border-right 1px solid #ffffff
  margin-right 5px
  padding-right 3px
  bor 0
  user-select none
