h1
  fs responsive 14px 32px
  ma 0.2% 0

.page-title
  ta center
  fs responsive 14px 32px
  cl base-color-1

h2
  fs responsive 12px 28px
  ma 0.3% 0

h3
  fs responsive 12px 24px
  ma 0.3% 0

h4
  fs responsive 12px 22px
  ma 0.3% 0

h5
  fs responsive 10px 18px
  ma 0.3% 0

h6
  fs responsive 10px 16px
  ma 0.4% 0

p
  fs responsive 10px 16px
  ma 0.5% 0
  lh 24px

strong
  fw bold

em
  font-style italic

blockquote
  fs responsive 12px 18px
  pa 1em
  border-left 0.3em solid lighten( base-color-2, 25%)
  cl darken(text-color-2, 50%)
  ma 0.5% 0

a
  cl base-color-1
  td underline
  &:hover
    td underline
  &.-light
    cl lighten(base-color-1,40%)

ul
  pa 0 2%
  list-style disc
  fs responsive 10px 16px
  cl darken(text-color-2, 50%)
  li
    padding-top 0.3%
    ul
      list-style circle
    li
      ul
      list-style square

ol
  pa 0 2%
  list-style decimal
  fs responsive 10px 16px
  cl darken( text-color-2, 50%)
  li
    padding-top 0.3%
    ul
      list-style circle
    li
      ul
      list-style square
