<header class="navbar-fixed">
	<nav class="white">
		<div class="nav-wrapper">
			<a href="#!" class="brand-logo center"><img src="/{{ site.img_folder }}/logo.png" width="120"/></a>
			<a href="#" data-activates="mobileMenu" class="button-collapse blue-text accent-4"><i class="mdi-navigation-menu"></i></a>
			<ul class="left hide-on-med-and-down" id="menu">
				<li><a href="#home" class="blue-text accent-4">Home</a></li>
				<li><a href="#skills" class="blue-text accent-4">Skills</a></li>
				<li><a href="#jobs" class="blue-text accent-4">Jobs</a></li>
				<li><a href="#contact" class="blue-text accent-4">Contact</a></li>
				<li><a href="/" class="blue-text accent-4" language>Português (BR)</a></li>
			</ul>
			<ul class="side-nav" id="mobileMenu">
				<li><a href="#home" class="blue-text accent-4">Home</a></li>
				<li><a href="#skills" class="blue-text accent-4">Skills</a></li>
				<li><a href="#jobs" class="blue-text accent-4">Jobs</a></li>
				<li><a href="#contact" class="blue-text accent-4">Contact</a></li>
				<li><a href="/" class="blue-text accent-4" language>Português (BR)</a></li>
			</ul>
		</div>
	</nav>
</header>