<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/{{ site.js_folder }}/materialize.min.js"></script>
<script type="text/javascript">
	$( document ).ready(function(){
		$(".button-collapse").sideNav(); // Starts mobile menu
		// Send mail form
		$("#contactForm").submit(function(event){
			event.preventDefault();
			var $email = $("#email").val();
			var $name = $("#name").val();
			var $subject = $("#subject").val();
			var $telephone = $("#telephone").val();
			var $message = "<strong>Nome: </strong>"+$name+"<br/><strong>Email: </strong>"+$email+"<br/><strong>Assunto: </strong>"+$subject+"<br/><strong>Mensagem: </strong>"+$("#message").val();
			if($telephone != ""){
				$message = "<strong>Nome: </strong>"+$name+"<br/><strong>Email: </strong>"+$email+"<br/><strong>Telefone: </strong>"+$telephone+"<br/><strong>Assunto: </strong>"+$subject+"<br/><strong>Mensagem: </strong>"+$("#message").val();
			}
			$.ajax({
				type: "POST",
	  			url: "https://mandrillapp.com/api/1.0/messages/send.json",
	  			data: {
		    		'key': 'HBOfoWUKRBjbpH4Zil0Z_w',
		    		'message': {
			      		'from_email': $email,
			      		'from_name': $name,
					      'to': [
					          {
					            'email': 'me@lnlwd.com',
					            'name': $name,
					            'type': 'to'
					          }
					        ],
			      		'autotext': 'true',
			      		'subject': 'Contato do site LNLWD.com',
			      		'html': $message
		    		}
	  			}
			}).done(function(response) {
				if(response[0].status == 'sent'){
					$('#modal1').openModal();
				}
				if(response[0].status == 'error'){
					$('#modal2 p').val('Ocorreu um erro ao enviar o email: '+response[0].status);
					$('#modal2').openModal();
				}
			});
		});			
	});	
</script>