<section id="home" class="blue accent-4 home">
	<div class="container">
		<h1 class="white-text center-align">Olá :) <br/> sou Lenilson Nascimento</h1>
		<h2 class="white-text center-align">Tenho {{site.age}} anos de idade, atuo como Front-end Developer há {{site.exp_time}} anos.</h2>
		<h3 class="white-text center-align">Sou apaixonado por usabilidade e padrões web.</h3>
		<div class="center-align">
			<a class="waves-effect blue accent-3 btn-large" href="#skills" id="start-button">Conheça meu trabalho!</a>
		</div>
	</div>
</section>