.glyph-icon {
  &::before {
    display: block;
    padding: 0.1em;
    font-size: 2em;
    font-weight: lighter;
  }
  &.-menu {
    display: inline-block;
    padding: 0.7em;
    color: $text-color-1;
    font-size: 1em;
  }
  &.-search {
    color: $base-color-1;
    font-size: 0.8em;
  }
  &.-input {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    color: lighten($base-color-2,25%);
    font-size: 0.7em;
    text-align: center;
    width: 10%;
    height: 35px;
    line-height: 30px;
    background-color: lighten($base-color-2,45%);
  }
}
