{{ partial "head.html" .}}
{{ partial "menu.html" .}}
<div class="language-select">
  <a href="{{ .Site.BaseURL }}/tags/pt">PT</a>&nbsp;&nbsp;&nbsp;
  <a href="{{ .Site.BaseURL }}/tags/en">EN</a>
</div>
{{ range (where .Paginator.Pages ".Title" "!=" "About") }}
<article class="post-preview">
  <a href="{{ .Permalink }}">
    <h2 class="post-title">{{ .Title }}</h2>
  </a>
  {{ if .Params.description }}
    {{ .Params.description }}
  {{ else }}
    {{ .Summary }}
  {{ end }}
  <a href="{{ .Permalink }}">[Continue reading...]</a>
</article>
{{ end }}
{{ partial "footer.html" .}}
