---
layout: default
---
<section class="main-content">
  {% include search.html %}
  <article class="post-content">
    <header class="header">
      {% if page.image %}
        <figure class="image">
          <img src="{{page.image}}" {% if post.image-title %}alt="{{page.image-title}}"{% endif %} />
          {% if page.image-title %}
          <figcaption>{{post.image-title}}</figcaption>
          {% endif %}
        </figure>
      {% endif %}
      <h1 class="title">{{ page.title }}</h1>
      <p class="meta">
        {{ page.date | date: "%B %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}
      </p>
      <ul class="tagList">
        <li class="glyph-icon flaticon-label49 -tag tag"></li>
        {% for tag in page.tags %}
        <li class="tag"><a href="/search_results.html?a=2&tag={{tag}}">{{tag}}</a>{% unless forloop.last %} ,{% endunless %}</li>
        {% endfor %}
      </ul>
    </header>
    <section class="content">
      {{ content }}
      <footer class="footer">
        <div class="endline">...</div>
        <div class="social">
          <div class="fb-follow"
            data-href="https://www.facebook.com/lnlwd"
            data-layout="button"
            data-show-faces="false">
          </div>
          <div class="fb-share-button"
  		      data-href="{{ page.url | prepend: site.url }}"
  		      data-layout="button_count"
            data-show-faces="false">
  	      </div>
          <a href="https://twitter.com/share" class="twitter-share-button" data-via="thelenilson">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
          <a href="https://twitter.com/thelenilson" class="twitter-follow-button" data-show-count="true">Follow @thelenilson</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
        <div id="disqus_thread" class="disqus"></div>
        <script>

            var disqus_config = function () {
                this.page.url = '{{ page.url | prepend: site.url }}';
                this.page.identifier = '{{ page.permalink | prepend: site.url }}';
            };

            (function() {
                var d = document, s = d.createElement('script');

                s.src = '//lnlwd.disqus.com/embed.js';

                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">
        comments powered by Disqus.</a></noscript>

        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.5";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <script id="dsq-count-scr" src="//lnlwd.disqus.com/count.js" async></script>

      </footer>
    </section>
  </article>
</section>
