.about-me
  cl darken(text-color-2,30%)

  > .header
    pa 1% 0
    wi 50%
    ma 0 auto

    > h1
      ta center

    > p
      ta justify

  > .content
    pa 1% 0
    ta center

    > h1
      fs responsive 12px 24px
      ma 0.4% 0

    > .uxd, .front

      > h2
        fs responsive 10px 18px
        ma 0.25% 0

      > p
        fs responsive 10px 14px
