.glyph-icon
  &::before
    ds block
    pa 0.1em
    fs 2em
    fw lighter

  &.-menu
    ds table-cell
    wi 90%
    he 90%
    va middle
    cl text-color-1
    fs responsive 8px 10px
    ta center
    bo 2px solid text-color-1
    bor 50%

  &.-search
    cl base-color-1
    fs responsive 10px 14px
    td none

  &.-tag
    cl base-color-1
    fs responsive 8px 10px

  &.-input
    po absolute
    zi 0
    top 0
    right 0
    cl base-color-1
    fs responsive 10px 14px
    ta center
    wi 10%
    he 35px
    lh 30px
    bg lighten(base-color-2,65%)
    bo 1px solid lighten(base-color-2,45%)
