.menu-label
  po fixed
  zi 3
  ds none
  +breakpoint(320px,'portrait')
    ds block

.menu-toggle
  ds none
  &:checked + .main-menu
    ds flex

.mobile-bar
  ds none
  +breakpoint(320px,'portrait')
    ds flex
    po fixed
    top 0
    left 0
    wi 100%
    he 40px
    bg base-color-1

.main-menu
  ds flex
  flex-direction column
  po fixed
  zi 2
  bg base-color-1
  wi 20%
  he 100%
  font-family "Open Sans"
  ta center
  +breakpoint(320px,'portrait')
    wi 100%
    ds none

  > .header
    cl text-color-1
    wi 100%
    he 40%
    order 1
    +breakpoint(320px,'portrait')
      he 55%

    > .cover
      wi 65%
      he 70%
      bor 50%
      overflow hidden
      ma 5% auto

      > .image
        ma 0 auto

    > .name
      fw normal
      fs responsive 14px 18px

    > .position
      fw lighter
      fs responsive 9px 14px

  > .nav
    order 2

    > .link
      ds flex
      flex-direction row
      justify-content center
      wi 100%
      he 2em
      margin-top 0.1em
      lh 2em
      fs responsive 12px 16px
      cl text-color-1
      td none
      &:hover,
      &.active
        bg base-color-2

  > .footer
    wi 100%
    order 3

    > hr
      wi 80%
      he 1px
      bg text-color-1
      bo none

    > .social
      ds flex
      flex-flow row wrap
      justify-content space-between
      pa 0 10%
      +breakpoint(320px,'portrait')
        pa 0 15%

      > a
        ds table
        wi 35px
        he 35px
        pa 3%
