.post-content
  wi 96%
  po absolute
  right 0%
  pa 0 0 1% 2%

  > .header
    ta center

    > .title
      fs responsive 12px 28px
      fw lighter
      ma 0.5% 0

    > .meta
      margin-top 0.5%
      margin-bottom 0.2%
      fs responsive 8px 12px
      fw normal
      cl darken(text-color-2, 50%)

    > .tagList
      ds table
      ta center
      cl base-color-1
      ma 0 auto
      margin-bottom 0.5%
      fs responsive 8px 12px
      > .tag
        ds table-cell
        va middle
        pa 0 0.2%
        > a
          cl base-color-1
          td none
          &:hover
            td underline

    > .image > img
      wi 100%
      max-height 300px

  > .content
    wi 98%
    ma 0 0 1% 1%

    > .footer

      .endline
        ta center
        cl base-color-1
        fs responsive 22px 44px
        ma 1% auto

      > .social
        wi 70%
        ma 1% auto
        ta center

      > .disqus
        wi 70%
        he 300px
        ma 0 auto
