.post-list
  po absolute
  right 0%
  wi 96%
  padding-bottom 50px
  +breakpoint(320px,'portrait')
    wi 100%

  > .search_msg
    fs responsive 12px 24px
    fw lighter
    ma 0.7% 0
    cl darken(text-color-2, 20%)

  > .post
    wi 96%
    border-bottom 1px solid darken(text-color-2, 20%)
    ma 0 0 1% 2%
    padding-bottom 4%

    &:last-child
      border-bottom none

    &.-search
      > .link
        wi 100%
        ta center
        ma 0.7% 0

      > .description
        ma 0.7% 0

    > .title
      fs responsive 12px 24px
      fw lighter
      ma 0.5% 0

      > .term
        bg #FFEB3B

      > .link
        cl base-color-1
        td none
        ma 0.5% 0
        &:hover
          td underline

    > .date
      fs responsive 8px 14px
      fw normal
      color darken(text-color-2, 50%)

    > .image > img
      wi 100%
      max-height 300px
      ma 0.5% 0

    > .description
      fs responsive 10px 16px
      fw normal
      ta justify

      > .term
        bg #FFEB3B

    > .link
      float left
      ta left
      cl base-color-1
      td none
      ma 1.3% 0
      &:hover
        td underline

    > .tagList
      float right
      ds table
      ta left
      cl base-color-1
      ma 1% 0

      > .tag
        ds table-cell
        va middle
        pa 0 0.3%

        > a
          cl base-color-1
          td none
          &:hover
            td underline
