.project-list
  list-style none
  ds flex
  flex-direction column
  pa 1% 0

  > .project
    ma 0.5% 2%
    border-bottom 1px solid base-color-2

    &:last-child
      border-bottom none

    > .title
      cl base-color-1
      fs responsive 12px 24px

      > a
        td none

      > .git
        cl darken(text-color-2,50%)
        ma 0 0.5%

      > .link
        &:hover
          td underline
